.character-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px 10px;
}
.character-card{
  height: fit-content;
  width: 232px;
  background-image: url("../assets/totoro-fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1.7px #104ef5;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px 25px;
}
.character-card .title{
  color: #104ef5;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
.character-card ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.character-card li{
  display: flex;
  gap: 8px;
}
.character-card .description{
  color: #104ef5;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.character-card .information{
  font-size: 14px;
  font-weight: 600;
}