.home-container{
  /* height: 110vh; */
  background-image: url("../assets/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.home-content{
  height: 80%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  gap: 7%;
  margin: 40px 0;
}
.home-description h1{
  font-size: 3.2em;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
}
.home-description{
  max-height: 100%;
  max-width: 55%;
  color: #fff;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.home-description .description{
  max-width: 75%;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.home-description .description p{
  max-width: 60%;
}
.home-button{
  padding: 10px 27px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
}
.home-button a{
  font-size: 0.8em;
  text-transform: uppercase;
  color: #104ef5;
  font-weight: 500;
}
.home-films{
  max-width: 100%;
  flex-direction: column;
  align-items: end;
  gap: 25px;
  font-weight: 600;
  letter-spacing: 4px;
}
.home-films a{
  color: #fff;
}
.home-films .images{
  max-width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
.home-films .images img{
  max-width: 20%;
  border-radius: 12px;
  object-fit: cover;
}
.home-spirit-away{
  max-width: 20%;
  color: #fff;
  font-size: 0.775em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}
.home-spirit-away img{
  width: 262px;
  max-width: 100%;
  border-radius: 15px;
}
@media (max-width: 900px) {
  .home-content{
    flex-direction: column;
  }
  .home-description{
    max-width: 80%;
  }
  .home-description .description{
    max-width: 90%;
  }
  .home-description .description p{
    max-width: 80%;
  }
  .home-spirit-away{
    display: none;
  }
}