.location-cards{
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px 10px;
}
.location-card{
  height: fit-content;
  width: 306px;
  background-image: url("../assets/totoro-locations.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1.7px #104ef5;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 25px;
}
.location-card .title{
  color: #104ef5;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.location-card ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.location-card li{
  display: flex;
  gap: 8px;
}
.location-card .description{
  color: #104ef5;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.location-card .information{
  font-size: 14px;
  font-weight: 600;
}
.location-card .information .films,
.location-card .information .residents{
  font-size: 12px;
}