.search-form{
  min-height: 32px;
  border: solid 1.7px #104ef5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}
.search-form input{
  border: none;
  background: none;
  font-size: 0.8em;
  outline: none;
  max-width: 60%;
}
.search-form input::placeholder{
  color: #104ef5e6;
  font-weight: 700;
}
.search-form button{
  background: none;
  border: none;
  cursor: pointer;
}