/* link styles */
/* a{
  font-size: 19px;
  color: #FFF;
  font-weight: 600;
  text-decoration: none;
}
.home-button a{
  font-size: 16px;
  color: #0047FF;
  font-weight: 700;
  text-transform: capitalize;
} */
/* paragraphs styles */
