@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Urbanist:wght@400;500;600;700&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Urbanist', sans-serif;
  font-size: 20px;
}
@media (max-width: 1000px) {
  body{
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  body{
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  body{
    font-size: 13.5px;
  }
}